body{
  
 backround-color:#DEABD9;
}

h1{
  color:#F5F0BF;
}
p{
  color:#F5F0BF;
  fontfamily:ariel;
}
 
body{
  
 background-color:#DEABD9;
}

h1{
  color:#f1e259;
  font-size:40px;
p{
  color:#F5F0BF;
  font-family:ariel;
}
